@import "tailwindcss";

.stroke-dasharray-\[283\] {
    stroke-dasharray: 283;
  }
  .stroke-dashoffset-\[283\] {
    stroke-dashoffset: 283;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
